@import "nullstyle.scss";

.body {
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 1 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0px auto;
}

.hi {
    padding: 50px 0;
    background-color: #445162;
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__body {
        color: #ffffff;
        padding: 0 20px 0 0;
    }
    &__title {
        margin: 0 0 40px 0;
        font-size: 60px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    }
    &__list {
    }
    .hi__list li {
        margin: 0 0 15px 0;
        padding: 0 0 0 36px;
        font-size: 20px;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
        color: #ffffff;
        background: url(../img/icons/icon.png) no-repeat;
    }
    .hi__list li:last-child {
        margin: 0;
    }
    &__img {
    }
}
.what {
    padding: 50px;
    &__row {
        display: flex;
    }
    &__img {
        flex: 0 0 430px;
    }
    &__bady {
        flex: 1 1 auto;
        padding: 0 0 0 30px;
    }
    &__title {
        margin: 0 0 35px 0;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    &__text p {
        margin: 0 0 15px 0;
    }
    &__text p:last-child {
        margin: 0;
    }
}

.title {
    font-size: 36px;
    color: #445161;
}
.columns {
    background-color: #f5f5f5;
    padding: 50px 0 20px 0;
    &__title {
        text-align: center;
        margin: 0 0 30px 0;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -8px;
    }
    &__column {
        flex: 0 1 50%;
        padding: 0px 8px;
        margin: 0 0 30px 0;
    }
}

.item {
    &__row {
        display: flex;
    }
    &__image {
        flex: 0 0 200px;
    }
    &__body {
        flex: 1 1 auto;
        padding: 0 0 0 15px;
    }
    &__title {
        font-size: 24px;
        margin: 0 0 15px 0;
        color: #445161;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
}
// vertical begin
.vertical {
    &__body {
        max-width: 990px;
        margin: 0px auto;
    }
    &__rov {
        display: flex;
        margin: 0px -22px;
    }
    &__column {
        display: flex;
        flex: 0 1 33.333%;
        padding: 0px 22px;
    }
    &__column--1 {
        align-self: center;
    }

    &__item {
        background-color: #445162;
        border-radius: 5px;
        color: #fff;
        border: solid 1px #445162;
        display: flex;
        flex-direction: column;
        padding: 0 0 20px 0;
    }

    &__subtitle {
        text-align: center;
        padding: 15px 0;
        font-size: 24px;
        text-transform: uppercase;
    }
    &__label {
        text-align: center;
        background-color: #fff;
        padding: 12px 0;
        color: #445162;
        font-size: 40px;
    }
    &__text {
        padding: 20px;
        font-size: 16px;
        line-height: 24px;
        flex: 1 1 auto;
    }
    &__text p{
        margin: 0 0 15px 0;
    }
    &__btn {
        display: block;
        margin: 0 20px;
        text-align: center;
        line-height: 40px;
        background-color: #fff;
        border-radius: 5px;
        color: #445161;
        font-size: 18px;
    }
    &__column--2 {
    }
    &__column--3 {
        align-self: flex-end;
    }
}
.conteiner {
}
.virtical {
    padding: 50px 0;
    &__titl {
        text-align: center;
        margin: 0 0 30px 0;
    }
}


.footer {
    background: cornflowerblue;
    .footer__row {
        display: flex;
        height: 65px;
        justify-content: center;
        align-items: center;
        .footer__text {
            color: #445162;
            font-size: 12px;
            letter-spacing: 0.3px;
        }
    }
}
